@charset "utf-8";
/* Lateus template by Jan Mikolic */
/* DEFAULT COLOR #0091CC */

body{
	margin: 0; padding: 0;
	color: #333;
	font-family: sans-serif; font-size: 13px; line-height: 1.7em;
}

/* ******************** TAGS ******************** */
h1, h2, h3, h4, h5, h6{
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 12px;
}
h1{
	font-size: 24px; line-height: 26px;
}
h2{
	font-size: 18px; line-height: 20px;
}
h3{
	font-size: 14px; line-height: 16px;
	padding: 0;
}
h1 span, h2 span, h3 span{
	border-bottom: 3px solid #0091CC; /*#link*/
}

a:link, a:visited{
	color: #0091CC; /*#link*/
	text-decoration: none;
	
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
a:hover{
	color: #CCC; /*link_hover*/
}

.separator{
	background: #EAEAEA; /*#border*/
	height: 1px;
	margin: 40px 0;
	width: 40px;
}
.sep,.sep-5,.sep-10,.sep-20,.sep-30,.sep-40,.sep-50,.sep-60,.sep-70,.sep-80,.sep-90,.sep-100{
	display: block;
	visibility: hidden;
	height: 20px;
}
.sep-5{ height: 5px; }
.sep-10{ height: 10px; }
.sep-20{ height: 20px; }
.sep-30{ height: 30px; }
.sep-40{ height: 40px; }
.sep-50{ height: 50px; }
.sep-60{ height: 60px; }
.sep-70{ height: 70px; }
.sep-80{ height: 80px; }
.sep-90{ height: 90px; }
.sep-100{ height: 100px; }


/* ******************** WRAPPER ******************** */
.clear{
	height: 0;
	display: block; visibility: hidden;
	clear: both;
}

#page_holder{
	position: relative;
	overflow: hidden;
	min-width: 1100px;
}
#wrapper{
	width: 1000px;
	margin: 0 auto;
}

/* ******************** HEADER ******************** */
header{
	margin: 0 -9999px; padding: 0 9999px;
	position: relative;
	background: #0091CC; /*#link*/
	height: 70px;
	-webkit-box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.04);
	box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.04);
}
header #languages{
	float: right;
	width: 200px;
	height: 70px;
	padding: 0 0 0 40px;
	border-left: 1px solid rgba(255, 255, 255, 0.2);
}
header #languages select{
	margin: 25px 0 0;
}
header nav{
	float: left;
}
header nav ul{
	list-style: none;
	margin: 17px 0 0 10px; padding: 0;
}
header nav ul li{
	display: inline-block;
	margin: 0 10px 0 0;
}
header nav ul li a{
	color: #FFF !important;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px; line-height: 40px;
	padding: 0 5px;
}
header nav ul li a:hover{
	color: rgba(255,255,255, 0.5) !important;
}
#logo{
	margin: 20px 30px 0 0;
	float: left;
	color: #FFF; text-transform: uppercase; font-size: 20px; font-weight: bold; line-height: normal;
}
#logo span{
	padding: 3px 0;
	border-bottom: 4px solid rgba(255,255,255, 0.3);
}
#logo a{
	color: #FFF !important;
}

/* ******************** SECTION ******************** */
section{
	float: left;
	width: 720px;
	padding: 40px 39px 40px 0;
	border-right: 1px solid #EAEAEA;
}
article{
	margin: 0 0 40px;
	padding: 0;
}

/* ******************** ASIDE ******************** */
aside{
	float: right;
	width: 200px;
	padding: 40px 0 40px 40px; margin: 0 0 0 -1px;
	border-left: 1px solid #EAEAEA;
}
#container nav > ul{
	list-style: none;
	margin: 0; padding: 0;
}
#container nav > ul li a{
	display: block;
	border-top: 1px solid #EAEAEA;
	line-height: normal;
	padding: 8px;
}
#container nav > ul li:last-child a{
	border-bottom: 1px solid #EAEAEA;
}
#container nav > ul li > ul{
	list-style: none;
}
#container nav > ul li > ul li a{
	border: 0 none;
}
aside .module{
	margin: 0 0 40px;
}

/* ******************** FOOTER ******************** */
footer{
	border-top: 1px solid #EAEAEA;
	margin: 0 -9999px; padding: 0 9999px;
}
#modules{
	border-bottom: 1px solid #EAEAEA;
	margin: 0 -9999px 0; padding: 0 9999px 30px;
}
footer #modules .module{
	float: left;
	width: 306px; margin: 40px 40px 0 0;
}
footer #modules .module:nth-child(3n+3){
	margin-right: 0;
}
footer #copyright{
	margin: 20px 0;
	color: #999; /*#copyright*/
}

/* ******************** STUFF ******************** */
/*form*/
input:focus, select:focus, textarea:focus {
	outline: 0;
}
input, select, textarea, button{
	color: #333;
	font-family: sans-serif; font-size: 13px;
}
input[type="text"], input[type="password"], textarea{
	border: 1px solid #EAEAEA;
	padding: 9px;
	
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
	background: #FAFAFA;
}
label{
	display: block;
	font-weight: bold; font-size: 12px; line-height: normal;
	margin: 10px 0 2px 0;
	text-transform: uppercase;
}
::-webkit-input-placeholder{color: #888;}
:-moz-placeholder{color: #888;}
.btn{
	background: #0091CC; /*#link*/
	font-size: 14px; color: #FFF; font-weight: bold;
	height: 40px; line-height: 40px; vertical-align: middle; text-align: center;
	padding: 0 20px;
	border: 1px solid transparent;
	cursor: pointer;
	
	 -webkit-box-shadow: 0px 8px 0px -4px rgba(0, 0, 0, 0.04);
	box-shadow: 0px 8px 0px -4px rgba(0, 0, 0, 0.04);
	
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.btn:hover{
	background: #333 !important;
}
.btn.green{
	background: #80BC12;
}
.btn.gray{
	background: #CCC;
}
.btn.light{
	background: #FFF;
	border: 1px solid #EAEAEA;
	color: #0091CC; /*link*/
}
.btn.light:hover{
	background: #FAFAFA !important; /*focus*/
}

/*LIST*/
ul.list{
	margin: 0; padding: 0;
	display: inline-block;
}
ul.list li{
	margin: 0 0 0 22px; padding: 0;
	line-height: 22px;
}
ol{
	margin: 0; padding: 0;
	display: inline-block;
}
ol li{
	margin: 0 0 0 22px; padding: 0;
	line-height: 22px;
}

/*BOXES*/
.box{
	padding: 40px;
	border: 1px solid #EAEAEA;
	
	-webkit-box-shadow: 0px 8px 0px -4px rgba(0, 0, 0, 0.02);
	box-shadow: 0px 8px 0px -4px rgba(0, 0, 0, 0.02);
}
aside .box{
	padding: 15px;
}
.box.color{
	border-left: 3px solid #0091CC; /*#link*/
	background: #FAFAFA;
}

/*ALERTS*/
.alert{
	padding: 14px; margin: 0 0 30px;
	border-left: 4px solid #EFEBBC;
	background: #FCFBE4;
	
	-webkit-box-shadow: 0px 8px 0px -4px rgba(0, 0, 0, 0.02);
	box-shadow: 0px 8px 0px -4px rgba(0, 0, 0, 0.02);
}
.alert .title{
	margin: 0 -14px 10px; padding: 0 14px 5px;
	font-size: 14px; text-transform: uppercase; line-height: normal; font-weight: bold;
	border-bottom: 1px solid #EFEBBC;
}
.alert ul{
	margin: 0; padding: 0;
	list-style: none;
}
.alert.yellow{
	border-color: #EFEBBC;
	background: #FCFBE4;
}
.alert.yellow .title{border-color: #EFEBBC;}
.alert.red{
	border-color: #FDDCDC;
	background: #FFF7F7;
}
.alert.red .title{border-color: #FDDCDC;}
.alert.green{
	border-color: #D0EEAC;
	background: #F1F9EA;
}
.alert.green .title{border-color: #D0EEAC;}


/*COLUMNS*/
.third{
	float: left;
	width: 220px;
	margin: 0 30px 30px 0;
}
.third.last{
	margin: 0 0 30px 0;
}
.half{
	float: left;
	width: 345px;
	margin: 0 30px 30px 0;
}
.half.last{
	margin: 0 0 30px 0;
}

.box .half{
	width: 304px;
	margin-bottom: 0;
}
.box.blue .half{
	width: 303px;
	margin-bottom: 0;
}

/*TABLE*/
table.table{
	width: 100%;
	border: 1px solid #EAEAEA;
	line-height: normal;
	
	border-collapse: collapse; border-spacing: 0;
	
	-webkit-box-shadow: 0px 8px 0px -4px rgba(0, 0, 0, 0.02);
	box-shadow: 0px 8px 0px -4px rgba(0, 0, 0, 0.02);
}
table.table caption{
	background: #0091CC; /*link*/
	color: #FFF;
	font-size: 16px; font-weight: bold; line-height: normal;
	padding: 14px 0 12px;
	text-align: center; text-transform: uppercase;
}
table.table tr th, table.table tr td{
	padding: 10px;
	border-right: 1px solid #EAEAEA; border-bottom: 1px solid #EAEAEA;
}
table.table tr th:last-child, table.table tr td:last-child{ border-right: 0 none; }
table.table tr:last-child td{ border-bottom: 0 none; }
table.table tr th{
	background: #FAFAFA;
	color: #999;
	text-shadow: 0 1px 0 #FFF;
	font-weight: normal; font-size: 14px;
}
table.table tr:hover td{
	background: #FAFAFA;
}