{% extends "base.twig" %}
{% block head %}
    <title>Page not found</title>
{% endblock %}
{% block content %}
    <section>
        <h1>Page not found</h1>
        <p>Whoops, it looks like that page does not exists.</p>
    </section>
    <aside></aside>
{% endblock %}