<!DOCTYPE html>
<html>
<head>
    <base href="{{ appSettings.base }}" />
    <meta charset="utf-8" />

    <link rel="stylesheet" href="{{ baseUrl() }}/static/style.css">

    <!-- template color -->
    <style type="text/css">
        {% if appColor %}
        h1 span, h2 span, h3 span{border-bottom-color: {{ appColor }};}
        a:link, a:visited{color: {{ appColor }};}
        a:hover{color:#CCC;}
        header{background: {{ appColor }};}
        .btn{background: {{ appColor }};}
        .btn.light{color: {{ appColor }};}
        .box.color{border-left-color: {{ appColor }};}
        table.table caption{background: {{ appColor }};}
        {% endif %}
    </style>

    {% block head %}
        <title>Home page</title>
    {% endblock %}

</head>
<body>
<!-- #page_holder -->
<div id="page_holder">

    <!-- #wrapper -->
    <div id="wrapper">

        <header>
            <div id="logo"><a href=""><span>Bottle</span></a></div>
            <nav>
                <ul>
                    <li><a href="{{ baseUrl() }}">home</a></li>
                    <li><a href="{{ baseUrl() }}/hello1/jan">hello1</a></li>
                    <li><a href="{{ baseUrl() }}/hello2/lara">hello2</a></li>
                </ul>
            </nav>
            <div id="languages"></div>
            <div class="clear"></div>
        </header>

        <!-- #container -->
        <div id="container">
            {% block content %}
                <section>
                    <h1>Hello world</h1>
                    <p><b>Application name:</b> {{ getAppName() }}</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque deleniti dignissimos dolorem ducimus eius esse, est, eveniet expedita fugit harum minus molestias non omnis placeat quo quos sed velit.</p>
                </section>
                <aside></aside>
            {% endblock %}
            <div class="clear"></div>
        </div>
        <!-- /#container -->

        <footer>
            <p>Copyright Jan Mikolič - <a target="_blank" href="http://janm.si">janm.si</a></p>
        </footer>

    </div>
    <!-- /#wrapper -->

</div>
<!-- /#pageholder -->

</body>
</html>