{% extends "base.twig" %}
{% block head %}
    <title>Hello page</title>
{% endblock %}
{% block content %}
    <section>
        <h1>Hello page</h1>
        <p>Hello there {{ name }}!</p>
    </section>
    <aside></aside>
{% endblock %}